<!-- app/views/pokemon/index.html.erb -->
<link rel="stylesheet" href="main.css"> 
<body id="main_page_body">
<%= form_tag pokemon_path, method: :get do %>
  <%= text_field_tag :pokemon_name, params[:pokemon_name], placeholder: "Enter Pokemon name", id: "pokemon_name_input"  , style:"margin-top:100px;margin-bottom:15px;"%>
  <%= submit_tag "Search" ,onClick: "clearInput()"%>
<% end %>
<script>
    function clearInput() {
        setTimeout(function() {
            document.getElementById("pokemon_name_input").value = "";
    }, 500);
  }
</script>
<div>
<h1 id="pokemon_name"><%= @pokemon_name.capitalize  %></h1>
<h1 id="pokemon_type">Type/s: <%= @pokemon_type.capitalize%></h1>
<%= image_tag @pokemon_image_url, alt: @pokemon_name, id: "pokemon_image" , style: "width: 400px; height: auto; image-rendering: pixelated;" %>

<h1 style="font-size:large;"><%= @flavor_text%> </h1>
<div>
<body>